<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title> Home </title>
</head>
<body>
    {% block pagename %}
    {{ block.super }}
    {% endblock %}

    {% block menu %}
    {{ block.super }}
    {% endblock %}

    {% block content %}
    <h3> Ваши изображения </h3>
    {% for i in im_read_all %}
    {% if i.prc_path == "Not" %}
        <figure style="border:7px ridge; width:300px;">
        <img src="{{ i.image.url }}" alt="{{ i.image_name }}" width="300"/>
                <figcaption style="padding:0 0 0 5px;"> {{ i.image_name }}
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="image" value="{{ i.image_name }}">
                    <button type="submit"> Обработать изображение </button>
                    </form>
                </figcaption>
                <figcaption style="padding:5px 0 0 5px;">
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="delete" value="{{ i.image_name }}">
                    <button type="submit"> Удалить </button>
                    </form>
                </figcaption>
        </figure>
    {% else %}
        <figure style="border:7px ridge; width:604px;">
        <img src="{{ i.image.url }}" alt="{{ i.image_name }}" width="300"/>
        <img src="{{ i.prc_path }}" width="300"/>
                <figcaption style="padding:0 0 0 5px;"> {{ i.image_name }}
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="image" value="{{ i.image_name }}">
                    <button type="submit"> Обработать изображение </button>
                    </form>
                </figcaption>
                <figcaption style="padding:5px 0 0 5px;">
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="delete" value="{{ i.image_name }}">
                    <button type="submit"> Удалить </button>
                    </form>
                </figcaption>
                <p style="padding:0 0 0 5px; line-height:0px"> Результат обработки: </p>
                <ul>
                {% for k in prc_read %}
                    {% if k.prc_image_name == i.image_name %}
                        <li> {{ k.prc_status }} </li>
                    {% endif %}
                {% endfor %}
                </ul>
        </figure>
    {% endif %}
    {% endfor %}
    {% endblock %}
</body>
</html>